<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

<nav class="navbar-inverse navbar-static-top navbar-margin-bottom" role="navigation">
  <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><input id="range" type="text" value=100000 style="width: 100px"><span class="meters">meters</span></li>
        <li><a id="all">All</a></li>
        <li><input id="range3" type="text" value=100000 style="width: 100px"><span class="meters">meters</span></li>
        <li><input id="range2" type="text" value=1000 style="width: 100px"><span class="meters">meters</span></li>
        <li><a id="home">Museums</a></li>
        <li><a id="polygon">Polygon</a></li>
        <li><a id="line">Line</a></li>
        <li><a id="clear">Clear</a></li>
      </ul>
    </div>
  </div>
</nav>